@import '../MyPlaylist/style.module.scss';
@import '../MyPlaylist/style.module.scss';

.container_detail {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  section {
    margin: 6% 0;
    padding-bottom: 2%;
  }
  .playlist-header {
    display: flex;
    align-items: center;

    .playlist-hashtag {
      display: flex;
    }
  }
}
