@import 'src/styles/color.scss';

.popup {
  display: flex;
  align-items: center;
  position: relative;
  width: 120px;
  background-color: $white;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  span {
    font-size: 12px;
  }
  &::after {
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
    content: '';
    position: absolute;
    top: -10px;
    left: 100px;
  }
}
