@import 'src/styles/color.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-1;
  width: 100%;
  height: 60%;

  section {
    min-width: 80%;
    transform: translateY(55px);
  }
}

.more-text {
  display: flex;
  justify-content: space-between;
  margin: 80px 15% 0;
}
