@import 'src/styles/color.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-1;
  width: 100vw;
  height: 60%;

  section {
    transform: translateY(12%);
    margin: 5%;
    &:nth-child(1) {
      min-width: 50%;
    }
  }
}

.more-text {
  display: flex;
  justify-content: space-between;
  margin: 80px 15% 0;
}
