@import 'src/styles/color.scss';

$inside-container-radius: 50px;
$font-weight1: 300;
$font-weight2: 400;

.container {
  background-color: $primary-1;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 80%;

  section {
    width: 80%;
    background-color: $white;
    border-radius: $inside-container-radius;
  }

  .playlist-title {
    font-weight: 400;
    font-size: x-large;
    margin: 20px;
    margin-left: 40px;
  }

  .playlist-container {
    display: grid;
    padding: 40px;
    grid-template-columns: 33.3% 33.3% 33.3%;

    .playlist-center {
      justify-content: space-evenly;
      display: flex;
    }
  }
}
