@import 'src/styles/color.scss';

$inside-container-radius: 50px;
$font-weight1: 300;
$font-weight2: 400;

.container {
  width: 100%;
  min-height: 700px;
  background-color: $primary-1;
  justify-content: center;
  align-items: center;
  display: flex;

  section {
    width: 80%;
    min-height: 500px;
    background-color: $white;
    border-radius: $inside-container-radius;
  }

  .playlist-title {
    font-weight: 400;
    font-size: x-large;
    margin: 20px;
    margin-left: 40px;
  }

  .playlist-container {
    display: flex;
    padding: 20px;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    align-items: center;
  }
  PlayListComponents {
    justify-content: center;
    align-items: center;
  }
}
