@import 'src/styles/color.scss';

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 10px;
  background-color: $white;
  border: 1px solid $gray-2;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  .close-btn {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: $primary-2;
    font-size: 18px;
    cursor: pointer;
  }

  .input-content {
    margin: 10px 0;
    input {
      padding: 5px;
      border: 1px solid $gray-2;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}
