@import '../../styles/color.scss';

.table {
  margin: 20px 0;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
  }
  tbody {
    justify-content: center;
    align-items: center;
  }
  tr {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  td {
    vertical-align: middle;
  }

  table th {
    border: 1px solid $gray-2;
    padding: 8px;
    font-weight: 400;
  }

  table td {
    border: 1px solid $gray-2;
    padding: 8px;
    font-weight: 300;

    .play-icon {
      color: $primary-2;
    }
  }
  table tr:hover {
    background-color: $gray-2;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: $black;
  }
  img {
    width: 30px;
  }
}
