.table {
  margin: 20px 0;
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
  }
  tbody {
    justify-content: center;
    align-items: center;
  }
  tr {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  td {
    vertical-align: middle;
  }
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tr:hover {
    background-color: #ddd;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
  }
  img {
    width: 30px;
  }
}
